@page
@model ZEM_Enterprice_WebApp.Pages.Manager.ChangePasswordModel
@{
    ViewData["Title"] = "Zmiana hasła";
    Layout = "~/Pages/Shared/_ProfileLayout.cshtml";
}

<div class="contact-clean">
    <form id="change-password-form" method="post" style="width: 100%;">
        <h2 class="text-center">Zmiana hasła</h2>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input class="form-control" asp-for="Input.OldPassword">
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input class="form-control" asp-for="Input.NewPassword">
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input class="form-control" asp-for="Input.ConfirmPassword">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Zapisz&nbsp;</button>
        </div>
    </form>
</div>
