@page
@inject UserManager<MyUser> UserManager
@model ZEM_Enterprice_WebApp.Pages.Department.Scanner.ScannerFormModel
@{
    ViewData["Title"] = "Skanuj kable";
}

<link rel="stylesheet" href="/assets/customcss/StyleSheet.css">

<div class="row text-center">
    <div class="col-4">
        <div>
            <div class="col">
                <div class="text-left"><label>Numer dostawy:</label><input type="text" id="nr-dostawy-field"></div>
            </div>
            <div class="col text-left" style="padding-top: 20px;padding-bottom: 0px;"><label>Data dostawy:</label><input id="data-scanned-field" type="date"></div>
        </div>
    </div>
    <div class="col">
        <label>Kod kabla</label>
        <input type="hidden" id="username-field" value="@UserManager.GetUserName(User)" />
        <input onkeyup="manualEntry(event)" type="text" id="kod-kabla-field" style="padding: 0px;width: 50%;" autofocus="">
        <br>
        <div class="row">
            <div class="col">
                <input type="checkbox" id="Manual-Input" name="manual-checkbox" value="manual">
                <label for="Manual-Input"> Wpisz ręcznie</label>
            </div>
            <div class="col">
                <input type="checkbox" id="AddBack-field" value="manual" checked>
                <label for="AddBack-field"> Dopisuj do końca</label><br>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 20px;" id="window-div">
    <div class="col">
        <div class="text-left">
            <h3>Kod cięty:</h3>
            <div class="text-center">
                <h1 id="kod-ciety-field">KOD CIĘTY</h1>
            </div>
        </div>
        <div class="text-left">
            <h3>BIN:</h3>
            <div class="text-center">
                <h1 id="bin-field">BIN</h1>
            </div>
        </div>
        <div class="text-left">
            <h3>Kod wiązki:</h3>
            <div class="text-center">
                <h1 id="kod-wiazki-field">KOD WIĄZKI</h1>
            </div>
        </div>
        <div class="text-left">
            <h3>Data dostawy, deklarowana:</h3>
            <div class="text-center">
                <h1 id="data-dostawy-stara-field">DATA DOSTAWY</h1>
            </div>
        </div>
        <div class="text-left">
            <h3>Zeskanowanych/Komplet:</h3>
            <div class="text-center">
                <h1 id="zeskanowanych-field">Zeskanowanych/ile</h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div></div>
        <div class="text-left">
            <h3>Litera rodziny:</h3>
            <div class="text-center">
                <h1 id="litera-field">Litera</h1>
            </div>
        </div>
        <div class="text-left">
            <h3>Ilość:</h3>
            <div class="text-center">
                <h1 id="ilosc-field">Ilość</h1>
            </div>
        </div>
        <div class="text-left">
            <h3>Numer kompletu:</h3>
            <div class="text-center">
                <h1 id="SetId-field">Numer Kompletu</h1>
            </div>
        </div>
        <div class="text-left">
            <h3>Data dostawy, dopis:</h3>
            <div class="text-center">
                <h1 id="data-dostawy-nowa-field">Data dostawy nowa</h1>
            </div>
        </div>
    </div>
</div>

<div style="display: none" id="print-div">
    <div style="width:100%; padding-top: 20px; writing-mode: tb-rl;">
        <div>
            <h1 id="rodzina-print" style="font-size: 56px;">Rear Lights (FL)</h1>
            <div class="row text-center">
                <div class="col">
                    <h3>Kod literowy:</h3>
                    <h1 id="kod-literowy-print" style="font-size: 60px;">BF</h1>
                </div>
                <div class="col">
                    <h3>Kod cyfrowy:</h3>
                    <h1 id="kod-cyfrowy-print" style="font-size: 60px;">175</h1>
                </div>
                <div class="col">
                    <h3>Kabli/Wiązkę</h3>
                    <h1 id="kabli-wiazke-print">16</h1>
                </div>
                <div class="col">
                    <h3>Nr. Kompletu</h3>
                    <h1 id="nr-kompletu-print">16</h1>
                </div>
            </div>
        </div>
        <h1 id="wiazka-print" style="font-size: 63px;">23419083A</h1>
        <div class="row">
            <div class="col-2 text-right align-self-center">
                <h1>BIN:</h1>
            </div>
            <div class="col align-self-center">
                <h1 id="bin-print">K06-A31</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-left align-self-center">
                <h3>Data dostawy:</h3>
            </div>
            <div class="col align-self-center">
                <h2 class="text-left" id="data-dostawy-print">02.07.2020</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-left align-self-center">
                <h3>Ilość w dostawie:</h3>
            </div>
            <div class="col align-self-center">
                <h2 class="text-left" id="ilosc-w-dostawie-print">17</h2>
            </div>
            <div class="col-3 text-left align-self-center">
                <h3>Przykładowy kod:</h3>
            </div>
            <div class="col align-self-center">
                <h2 class="text-left" id="przykladowy-kod-kabla-print">AEB17510</h2>
            </div>
        </div>
    </div>
</div>

<div class="row text-center" style="padding-top: 50px">
    <div class="col">
        <h1 id="komplet-field">Komplet</h1>
    </div>
    <div class="col">
        <h1 id="zalegle-field" style="color: rgb(255,46,33);">Zaległe</h1>
    </div>
</div>

<script src="~/assets/customjs/api.js"></script>
<script src="~/assets/customjs/ScanCommunicate.js"></script>