@page
@model ZEM_Enterprice_WebApp.Pages.Manager.AdminManager.DumpDatabaseModel
@{
    ViewData["Title"] = "Zrzut bazy danych";
    Layout = "~/Pages/Shared/_ProfileLayout.cshtml";
}

<h1>Baza danych zrzucona do pliku</h1>

