@page "{id:guid}"
@model ZEM_Enterprice_WebApp.Pages.Manager.AdminManager.ResetUserPasswordModel
@{
    ViewData["Title"] = "Resetuj hasło użytkownika";
    Layout = "~/Pages/Shared/_ProfileLayout.cshtml";
}

<div class="contact-clean">
    <form method="post" style="width: 100%;">
        <h2 class="text-center">Resetuj hasło dla:</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Imie"></label>
            <input class="form-control" asp-for="Input.Imie" disabled>
        </div>
        <div class="form-group">
            <label asp-for="Input.Nazwisko"></label>
            <input class="form-control" asp-for="Input.Nazwisko" disabled>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Resetuj&nbsp;</button>
        </div>
    </form>
</div>