@page
@model ZEM_Enterprice_WebApp.Pages.Manager.AdminManager.VTArchiveModel
@{
    ViewData["Title"] = "Archiwizuj VT";
    Layout = "~/Pages/Shared/_ProfileLayout.cshtml";
}

<div class="text-center bg-info border rounded" id="information-div">
    <h5 id="infor-heading">@Model.StatusHeader</h5>
    <p id="information-para" style="color: rgb(255,255,255);font-size: 15px;">@Model.StatusMessage</p>
</div>
<div class="login-clean">
    <form method="post" style="width:100%">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration">
            <h1 style="color: rgb(71,140,244);font-size: 20px;">Archiwizuj skany VT</h1>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="form-group"><label asp-for="@Model.Date"></label></div>
        <div class="form-group"><input class="form-control" asp-for="@Model.Date"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(255, 0, 0);">Zrzuć do pliku i usuń z bazy</button></div>
    </form>
</div>


